@page "/getintouch"

<div class="text-center my-5 text-white">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa-solid fa-envelope bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            admin@hotmail.com
        </p>
    </div>
</div>


